*{
    margin:0;
    padding:0;
    line-height: 0px;
}
body{
    
    background-color: gainsboro;
}
#MemeMaker{
    display:grid;
    grid-template-columns:2fr 1fr;
    grid-template-rows: repeat(8,1fr);
    width:90vw;
    height:90vh;

    margin-left: 5vw;
    margin-top: 5vh;
    border: 1px solid black;
    border-radius: 10px;
    background: white;
    box-shadow: 1px 0px 21px 0px rgba(0,0,0,0.75);
    padding: 5px;
}
#SvgDiv{

    height: 100%;
    width: 100%;
}
svg{
    width:100%;
    height:100%;
}
image{
    width:100%;
    height: 100%;
}
text{
    border: 1px dashed black;
}
#SvgControls{
    grid-column:2/3;
    grid-row:1/4;
}
#SvgCanvas{
    
    grid-row: 1/5;
}
#Output{
    grid-column: 1;

grid-row: 5/9;
}
span{
    
    display: inline-block;
    padding: 10px;
    font-size: 1.2em;
}
#MemeChooser{
    grid-column: 2/3;
    grid-row:5/9;
}
#DownloadLink{
    grid-column: 2/3;
    grid-row:4/5;
    align-self: end;
}
form > [type=text]{
    background-color:yellow;

    font-size: 1.3em;
    padding: 10px;
    display: block;
    /*! margin-bottom: 10px; */
}
form > *{
    margin-bottom: 10px;
}
.TopColor,.BottomColor{
    width:25px;
    height:25px;
    display:inline-block;
    border:1px solid black;
}
#black {
    background-color:black;
}
#white{
    background-color: white;
}
#yellow{
    background-color: yellow;
}
#green{
    background-color:green;
}
#blue{
    background-color:blue;
}
#purple{
    background-color: purple;;
}
